/*.container {
    width: 900px;
    margin: 20px auto;
    border: 1px solid #776;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: transparent;
    text-align: center;
    padding: 15px 10px;
}

button {
    background-color: #49a6e9;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #49a6e9;
    margin-top: 40px;
}

button a {
    color: #fff;
    text-decoration: none;
}*/


body, h1, p, button {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #28a5de, #ffffff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.container {
    /* background-color: rgba(255, 255, 255, 0.9); */
    /* background-color: transparent; */
    background-color: #9191911f;
    padding: 30px;
    border-radius: 15px;
    border-radius: 10px;
    /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    text-align: center;
    width: 70%;
    max-width: 600px;
    backdrop-filter: blur(10px);
}

.container h1 {
    font-size: 2.5em;
    color: #43b0f1;
    margin-bottom: 20px;
    font-family: 'CoffeeHealing', sans-serif;
    text-shadow: .1em .1em 0 hsl(200 50% 30%);
    /* font-weight: bold; */
}

.container p {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 40px;
}

.btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btns button {
    appearance: button;
    backface-visibility: hidden;
    /* background-color: #43b0f1; */
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    margin: 12px 0 0;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    margin: 0 10px;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    /* width: 100%; */
}
  
.btns button:disabled {
    cursor: default;
}
  
.btns button:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

/* .btns button {
    background-color: #6a1b9a;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 25px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
} */

.btns button a {
    color: white;
    text-decoration: none;
}

.btns button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    /* background-color: #057dcd; */
}

.btns button.Birds {
    background-color: #ff6f61;
}

.btns button.Zoo {
    background-color: #ffb74d;
} 

.btns button.marine {
    background-color: #43b0f1;
}

.btns button.replite {
    background-color: #80dd6d;
}

.btns button.Birds:hover {
    background-color: #e64a19;
}

.btns button.Zoo:hover {
    background-color: #f57c00;
} 

.btns button.marine:hover {
    background-color: #057dcd;
}

.btns button.replite:hover {
    background-color: #6eb15c;
}

.container .unknown {
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
}
