{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        @font-face {
            font-family: 'CoffeeHealing';
            src: url('{% static "fonts/CoffeeHealing-1GrKe.ttf" %}') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
    </style>
</head>
<body>
    <div class="container">
      <h1>Welcome to our Image Classification Webpage</h1>
      <p>
        Step into the realm of our image classification web page, 
        where the power to classify your images rests in your hands
      </p>

      <div class="btns">
        <button class="Birds"><a href="{% url 'birds' %}">Birds</a></button>
        <button class="Zoo"><a href="{% url 'wild' %}">Wild</a></button>
        <button class="marine"><a href="{% url 'marine' %}">Marine</a></button>
        <button class="replite"><a href="{% url 'replite' %}">Reptiles and Amphibians</a></button>
      </div>
      <p class="unknown">if you don't know the category of your image <a href="{% url 'unknown' %}">Click here</a></p>
    </div>
</body>
</html>