{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/marine-style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div class="image-container">
       <img src="{% static 'images/clam.jpg' %}" alt="Clam" class="image clam">
       <img src="{% static 'images/crab.jpg' %}" alt="Crab" class="image crab">
       <img src="{% static 'images/dolphin.jpg' %}" alt="Dolphin" class="image dolphin">
       <img src="{% static 'images/eel.jpg' %}" alt="Eel" class="image eel">
       <img src="{% static 'images/fish.jpg' %}" alt="Fish" class="image fish">
       <img src="{% static 'images/jellyFish.jpg' %}" alt="Jelly Fish" class="image jellyfish">
       <img src="{% static 'images/lobster.jpg' %}" alt="Lobster" class="image lobster">
       <img src="{% static 'images/octopus.jpg' %}" alt="Octopus" class="image octopus">
       <img src="{% static 'images/otter.jpg' %}" alt="Otter" class="image otter">
       <img src="{% static 'images/puffer.jpg' %}" alt="Puffer" class="image puffer">
       <img src="{% static 'images/seaHorse.jpg' %}" alt="Sea Horse" class="image sea-Horse">
       <img src="{% static 'images/seal.jpg' %}" alt="Seal" class="image seal">
       <img src="{% static 'images/seaRay.jpg' %}" alt="Sea Ray" class="image sea-Ray">
       <img src="{% static 'images/seaTurtle.jpg' %}" alt="Sea Turtle" class="image sea-Turtle">
       <img src="{% static 'images/seaUrchin.jpg' %}" alt="Sea Urchin" class="image sea-Urchin">
       <img src="{% static 'images/shark.jpg' %}" alt="Shark" class="image shark">
       <img src="{% static 'images/shrimp.jpg' %}" alt="Shrimp" class="image shrimp">
       <img src="{% static 'images/squid.jpg' %}" alt="Squid" class="image squid">
       <img src="{% static 'images/starfish.jpg' %}" alt="Starfish" class="image starfish">
       <img src="{% static 'images/whale.jpg' %}" alt="Whale" class="image whale">
    </div>

    {% if prediction %}  
      <h3 id="predict" data-class="{{ prediction }}">{{ prediction }}</h3>          
    {% endif %}
           
    <div class="container">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}   
        <div class="form">
          <label for="image">Select image</label> 
          {{ form }}  
          <button class="classify" type="submit">Classify</button>
        </div>
        <img id="uploaded-image" src="" alt="" >
      </form>
    </div>
    <a class="back" href="{% url 'index' %}">Back to home page</a>
</body>
<script src="{% static 'js/marine-script.js' %}"></script>
</html>
