{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/marine-styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .classify {
            margin-top: 20px;
        }
    </style>
    <title></title>
</head>
<body>
    <!-- <div class="container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="image">Select image</label>   
            {{ form.as_p }} 
            <button class="classify" type="submit">Classify</button>
        </form>
        <div id="image-container"></div>
          {% if img_obj %}  
          <p>The predicted class is: {{ prediction }}</p>          
          <img src="{{ img_obj.image.url}}" alt="" >
          {% endif %}

    </div> -->
    {% if prediction %}
    <h3 id="predict" data-class="{{ prediction }}">{{ prediction }}</h3>
  {% endif %}
        
  <div class="container">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form">
          <label for="image">Select image</label>
          {{ form }}
          <button class="classify" type="submit">Classify</button>
        </div>
        <img id="uploaded-image" src="" alt="">
      </form>
  </div>
  <a class="back" href="{% url 'index' %}">Back to home page</a>
</body>
<script src="{% static 'js/reptile-script.js' %}"></script>
</html>